<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    {{{body}}}<!--여기에는 index.hbs의 내용이 들어가게 된다-->
  </body>
</html>
